{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="bi me-2" width="150" height="32" src="{% static 'img/auroral.png' %}" alt=""/>
        <span class="fs-4">IA Service</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href='{% url "index" %}' class="nav-link">Home</a></li>
        <li class="nav-item"><a href='{% url "createModel" %}' class="nav-link">Create model</a></li>
        <li class="nav-item"><a href='{% url "savedModels" %}' class="nav-link">Saved models</a></li>
        <li class="nav-item"><a href='{% url "trainingData" %}' class="nav-link active" aria-current="page">Training data</a></li>
      </ul>
    </header>
    
        <div class="d-flex justify-content-center gap-5">
                <a href='{% url "trainingData/new" %}' class="nav-link"><button class="btn btn-secondary" type="button">Create training data</button></a>
        </div>
    
    <h1>All training data:</h1>
    <table class="table table-striped">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
        {% for item in object_list %}
        <tr>
            <td><a>{{ forloop.counter }}</a></td>
            <td>{{ item.name }}</td>
            <td><a href="{% url 'trainingData/editTrainingData' item.id %}"><button class="btn btn-primary" type="button"> Edit </button></a></td>
            <td><button class="btn btn-secondary delete-btn" type="button" data-id="{{ item.id }}"> Delete </button></td>
        </tr>
        {% endfor %}
    </table>

  <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
      <p class="text-center text-body-secondary">© 2023 Universidad Politécnica de Madrid</p>
  </footer>
</div>
    <script>
        $(document).ready(function() {
            $('.delete-btn').click(function() {
                var id = $(this).data('id');
                if (confirm('Delete this element?')) {
                    $.post('/delete/', {id: id}, function(data) {
                        location.reload();
                    });
                }
            });
        });
    </script>
</body>

</html>